{{!-- <div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{this.name}}</h5>
      <h2>{{band}}</h2>
      <h3>{{date}}</h3>
      <h3>{{price}}</h3>
      {{#if @root.listener}}
      <form action="/concert-pay/{{_id}}" method="post">
      <button type="submit">Buy Ticket</button>
      </form>
      {{/if}}
</div> --}}

<div class="card">
  <h5 class="card-header">{{this.name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{band}}</h5>
    <p class="card-text">{{date}}</p>
     <p class="card-text">${{price}}.00 MXN</p>
    {{#if @root.listener}}
      <form action="/concert-pay/{{_id}}" method="post">
      <button type="submit">Buy Ticket</button>
      </form>
      {{/if}}
  </div>
</div>