<h1>{{concertName}}</h1>
<h2>{{musician}}</h2>
<h3>{{date}}</h3>
<h3>{{price}}</h3>
<form method="POST">
  <script
    src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
    data-preference-id='{{preferenceId}}'>
  </script>
</form>