
<nav style="position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    background-color: white;
    font-weight: 900;
    box-sizing:border-box;
    border-bottom: 1px solid black; z-index: 9999">
  <div>
    <a href="/home"><img src="/images/logo.svg" alt="Logo"
        style="width: 100px; margin-top: 6px; filter: brightness(0)"></a>
  </div>

<div>
  {{#if listener}}
  <a href="/listener" style="color:black">Listener</a>
  {{/if}}
  {{#if musician}}
  <a href="/profile" style="color:black">Musician</a>
  {{/if}}
  <a href="/auth/logout" style="color:black">Logout</a>
</div>

</nav>

<!-- AQUI TERMINA NAV -->
<div class="container home-container pl-4 pr-4">
  <div class="row">
    <h1>Welcome <strong>{{user.username}}</strong>!</h1>
  </div>
  <hr>
  <div class="row">
    <h3>Popular artists</h3>
  </div>
  <div class="row mb-3 justify-content-center">
    {{#each musicians}}

    <div class="col-lg-3 col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col">
              <div
                style="border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center; width: 60px; height: 60px; border: 1px solid black; margin:5px;">
                <img class="card-img-top" src="{{this.imageUrl}}" alt="{{this.username}}" style="width: 50px">
              </div>
            </div>
            <div class="col">
              <h5 class="card-title">{{this.username}}</h5>
              <form action="/follow" method="post">
                <input type="text" name="name" id="name" value="{{this.username}}" hidden>
                <button class="btn btn-primary" type="submit">Follow</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  <hr>
  <div class="row">
    <h3>Concerts</h3>
  </div>
  <div class="row">
    {{#each musicianConcerts}}
    <div class="col-lg-4 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text"><strong>Date:</strong>{{date}}</p>
          <p class="card-text"><strong>Price:</strong>${{price}}.00 MXN</p>
          {{#if @root.listener}}
          <form action="/concert-pay/{{_id}}" method="post">
            <button class="btn btn-primary" type="submit">Buy Ticket</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <hr>
  <div class="row mb-3">
    <h3>Newest pictures</h3>
  </div>
  <div class="row mb-3">
    {{#each posts}}
    <div class="col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <img src="{{picUrl}}" class="card-img-top" alt="...">
          <hr>
          <h5 class="card-title">{{picName}}</h5>
          <p class="card-text">{{this.creatorId.username}}</p>
          <p class="card-text">{{content}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <hr>

  <div class="row mb-3">
    <h3>Newest songs</h3>
  </div>
  <div class="row mb-3">
    {{#each songs}}
    <div class="col-lg-4  mb-3">
      <div class="card">
        <div class="card-body">
          <audio controls>
            <source src="{{this.audiourl}}" type="audio/wav">
            <source src="{{this.audiourl}}" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
          <hr>
          <p class="card-text">{{content}}</p>
          <p class="card-text"><strong>by:</strong>{{creatorId.username}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <hr>
  <div class="row mb-3">
    <h3>Newest music videos</h3>
  </div>
  <div>
    {{#each videos}}
    <div class="col-lg-4 mb-3">
      <div class="card">
        <div class="card-body">
          <video width="100%" controls>
            <source src="{{this.videourl}}" type="video/mp4">
            <source src="{{this.videourl}}" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <p class="card-text"><strong>by:</strong>{{this.creatorId.username}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>