<h1>Welcome to your profile {{userWithPosts.username}}</h1>
<img style="width: 30px" src="{{userWithPosts.imageUrl}}" alt="Profile image">
<div class="container profile-container">

<!-- AQUI EMPIEZA NAV -->
  <nav style="position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    background-color: white;
    font-weight: 900;
    box-sizing:border-box;
    border-bottom: 1px solid black">
    <div>
      <a href="/"><img src="/images/logo.svg" alt="Logo"
          style="width: 100px; margin-top: 6px; filter: brightness(0)"></a>
    </div>


    <div class="dropdown">
     <a 
      data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"
        style="cursor: pointer; width: 36px; height: 36px; border-radius: 50%; border: 0.5px solid black;overflow: hidden; background-color:white; display:flex; justify-content:center; align-items:center">
        <img style="height: 30px;" src={{userWithPosts.imageUrl}}  alt="user_image">
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/profile">Profile</a>
        <a class="dropdown-item" style="color: red" href="/auth/logout">Logout</a>
      </div>
    </div>
  </nav>

  <!-- AQUI TERMINA NAV -->

  <div class="media"
    style="display: flex; align-items: center; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid black">
    <img class="mr-3"
      style="vertical-align: middle; border: 1px solid black; width: 120px; height: 120px; border-radius: 50%;"
      src="{{userWithPosts.imageUrl}}" alt="Profile image">
    <h1>Welcome to your profile
      <br />
      <strong style="text-decoration:underline">{{userWithPosts.username}}</strong>
    </h1>

  </div>


  {{!-- PRIMER FORM --}}
  <h2 style="font-size: 20px">Share a photo</h2>
 <form action="/posting" method="POST" id="upload" enctype="multipart/form-data">
  <div class="form-group">
    <input type="text" id="input-content" name="content" placeholder="Body">
    <small id="emailHelp" class="form-text text-muted">Speak your mind</small>
  </div>
  <div class="form-group">
    <input type="text" name="picName" id="picName" placeholder="Your pic's title">
  </div>
  <div class="form-group form-check">
    <input type="file" name="picUrl" id="image-input" class="form-control-file" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

    <br>
    <br>


    {{!-- SEGUNDO FROM --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

 <h2 style="font-size: 20px">Share a song</h2>
 <form action="/musicPost" method="POST">
  <div class="form-group">
    <input type="text" id="input-content" name="content" placeholder="Your song's title" />
  </div>
  <div class="form-group">
    <input type="file" name="audio" id="audio"> <input type="text" id="audiourl" name="audiourl">
  </div>
  <button type="submit" class="btn btn-primary">Upload your song!</button>
</form>

    <br>
    <br>


    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <form action="/musicPost" method="POST">
      <label for="content">Content:</label>
      <input type="text" id="input-content" name="content" placeholder="Your post content" />
      <input type="file" name="audio" id="audio">
      <input type="text" id="audiourl" name="audiourl">
      <button type="submit">Submit your music post</button>
    </form> --}}

    <script>
      const $audioInput = document.querySelector('#audio')
      const $audiourl = document.querySelector('#audiourl')

      $audioInput.onchange = async e => {
        //e.target.files almacena los archivos selecionados
        console.log(e.target.files[0])

        const data = new FormData()
        data.append("file", e.target.files[0]);
        data.append("upload_preset", "musicApp");
        const res = await axios.post(
          /*                        cloudname👇    👇 tipo de recurso     */
          "https://api.cloudinary.com/v1_1/djkvj5wq9/video/upload",
          data
        );
        $audiourl.value = res.data.secure_url
      }
    </script>


    {{!-- Videos --}}
    <form action="/videoPost" method="POST">
      <label for="content">Content:</label>
      <input type="text" id="input-content" name="content" placeholder="Your post content" />
      <input type="file" name="video" id="video">
      <input type="text" id="videourl" name="videourl">
      <button type="submit">Submit your music video</button>
    </form>

    <script>
      const $videoInput = document.querySelector('#video')
      const $videourl = document.querySelector('#videourl')

      $videoInput.onchange = async e => {
        //e.target.files almacena los archivos selecionados
        console.log(e.target.files[0])

        const data = new FormData()
        data.append("file", e.target.files[0]);
        data.append("upload_preset", "musicApp");
        const res = await axios.post(
          /*                        cloudname👇    👇 tipo de recurso     */
          "https://api.cloudinary.com/v1_1/djkvj5wq9/video/upload",
          data
        );
        $videourl.value = res.data.secure_url
      }
    </script>


    {{!-- TERCER FORM --}}
    <form action="/concert" method="post">
      <label for="concertName">Concert Name</label>
      <input type="text" id="concertName" name="concertName">
      <label for="date">Date</label>
      <input type="date" name="date" id="date">
      <label for="price">Price</label>
      <input type="number" name="price" id="price">
      <input type="musician" id="musician" name="musician" value="{{userWithPosts.username}}" hidden>
      <button type="submit">Post Concert</button>
    </form>

    {{#each musicianConcerts}}
    {{>concertCard this}}
    {{/each}}


    {{#each posts}}
    <p>{{content}}</p>
    <img src="{{picUrl}}" alt="foto">
    {{/each}}

    {{#each videos}}
    <div>
      <video width="320" height="240" controls>
        <source src="{{videourl}}" type="video/mp4">
        <source src="{{videourl}}" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    </div>
    {{/each }}

    {{#each songs}}
    <div>
      <audio controls>
        <source src="{{audiourl}}" type="audio/wav">
        <source src="{{audiourl}}" type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
    </div>
    {{/each }}


</div>

{{!-- ACÁ VA EL DESMADRE --}}

<script>
  const $videoInput = document.querySelector('#video')
  const $videourl = document.querySelector('#videourl')

$videoInput.onchange = async e => {
  //e.target.files almacena los archivos selecionados
  console.log(e.target.files[0])
  
  const data = new FormData()
  data.append("file", e.target.files[0]);
  data.append("upload_preset", "musicApp");
  const res = await axios.post(
    /*                        cloudname👇    👇 tipo de recurso     */
    "https://api.cloudinary.com/v1_1/djkvj5wq9/video/upload",
    data
  );
  $videourl.value = res.data.secure_url
}
</script>

<a href="/concert/new">Create New Concert</a>


{{!-- <h2>Share your music!</h2>
  <form action="/posting" method="POST" id="upload" enctype="multipart/form-data">
    <label for="content">Content:</label>
    <input type="text" id="input-content" name="content" placeholder="Your post content" />

    <label for="picName">Your pic's title</label>
    <input type="text" name="picName" id="picName" placeholder="Your pic's name" />

    <label for="picUrl">Image: </label> <br>
    <input type="file" name="picUrl" id="image-input" class="form-control-file" />

    <button type="submit">Submit your post</button>

  </form>

  <br>
  <br> --}}