<h1>Welcome to your profile {{username}}</h1>
<img src="{{imageUrl}}" alt="Profile image">

<h2>Share your music!</h2>
<form action="/posting" method="POST" id="upload" enctype="multipart/form-data">
    <label for="content">Content:</label>
    <input type="text" id="input-content" name="content" placeholder="Your post content" />

    <label for="picName">Your pic's title</label>
    <input type="text" name="picName" id="picName" placeholder="Your pic's name" />

    <label for="picUrl">Image:</label> <br>
        <input type="file" name="picUrl" id="image-input" class="form-control-file" />

    <button type="submit">Submit your post</button>

  </form>

<br>
<br>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
<form action="/musicPost" method="POST">
<label for="content">Content:</label>
    <input type="text" id="input-content" name="content" placeholder="Your post content"/>
  <input type="file" name="audio" id="audio">
  <input type="text" id="audiourl" name="audiourl">
  <button type="submit">Submit your music post</button>
</form>

<script>
  const $audioInput = document.querySelector('#audio')
  const $audiourl = document.querySelector('#audiourl')

$audioInput.onchange = async e => {
  //e.target.files almacena los archivos selecionados
  console.log(e.target.files[0])
  
  const data = new FormData()
  data.append("file", e.target.files[0]);
  data.append("upload_preset", "musicApp");
  const res = await axios.post(
    /*                        cloudname👇    👇 tipo de recurso     */
    "https://api.cloudinary.com/v1_1/djkvj5wq9/video/upload",
    data
  );
  $audiourl.value = res.data.secure_url
}
</script>


{{!-- Videos --}}
<form action="/videoPost" method="POST">
<label for="content">Content:</label>
    <input type="text" id="input-content" name="content" placeholder="Your post content"/>
  <input type="file" name="video" id="video">
  <input type="text" id="videourl" name="videourl">
  <button type="submit">Submit your music video</button>
</form>

<script>
  const $videoInput = document.querySelector('#video')
  const $videourl = document.querySelector('#videourl')

$videoInput.onchange = async e => {
  //e.target.files almacena los archivos selecionados
  console.log(e.target.files[0])
  
  const data = new FormData()
  data.append("file", e.target.files[0]);
  data.append("upload_preset", "musicApp");
  const res = await axios.post(
    /*                        cloudname👇    👇 tipo de recurso     */
    "https://api.cloudinary.com/v1_1/djkvj5wq9/video/upload",
    data
  );
  $videourl.value = res.data.secure_url
}
</script>




{{#each posts}}
<p>{{content}}</p>
<img src="{{picUrl}}" alt="foto">
{{/each}}

{{#each videos}}
<div>
  <video width="320" height="240" controls>
  <source src="{{videourl}}" type="video/mp4">
  <source src="{{videourl}}" type="video/ogg">
  Your browser does not support the video tag.
</video>
</div>
{{/each }}

{{#each songs}}
<div>
<audio controls>
  <source src="{{audiourl}}" type="audio/wav">
  <source src="{{audiourl}}" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio>
</div>
{{/each }}